export PYTHONPATH="$(pwd)/experiments/simbricks:$(pwd)/submodules/simbricks/experiments:$PYTHONPATH"
export DIR_PROJECT_ROOT="$(pwd)"
export DIR_SIMBRICKS="${DIR_PROJECT_ROOT}/submodules/simbricks"
export PATH="$(pwd)/experiments/simbricks:${PATH}"
